{% extends 'debate/base.html' %}
{%load static%}
{% block title%} Login - MyAwaaz{% endblock %}
{% block body%}

<main class="form-signin ">
  <form class="text-center" method="post" action="../../login/">
      {% csrf_token %}
    <img class="mb-4" src="{%static 'debate/images/logo.png'%}" alt="" width="72" height="57">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    <h3 class="h3 mt-3 mb-3 fw-normal">OR</h3>
    <button class="w-100 btn btn-lg mb-2" style="background-color:#3a5696; color:white;" type="submit"><i class="fa fa-facebook-square" aria-hidden="true"></i> Sign in with facebook</button>
    <button class="w-100 btn btn-lg btn-primary" style="background-color:#0076b0; color:white;" type="submit"><i class="fa fa-linkedin" aria-hidden="true"></i> Sign in with linkedin</button>
<!--    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>-->
    <hr>
    <a href="../register"> <h3 class="" style="color:orange; font-family: 'Roboto', sans-serif; font-size:18px;">Register/Create new Account</h3> </a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
{% endblock %}